{% extends "core/Includes/base.html" %}
{% block body %}
{% load static%}



<div class="container">
    <div class="row">
        <h1>Ingresar producto</h1>
    </div>

    <div class="row">
        <div class="row">
            <form method="POST" action="#" id="formulario">
                {%csrf_token%}
                <div class="form-group">
                    {{producto_form.nombre.label}}
                    {{producto_form.nombre}}
                </div>
                <div class="form-group">
                    {{producto_form.descripcion.label}}
                    {{producto_form.descripcion}}
                </div>
                <div class="form-group">
                    {{producto_form.precio.label}}
                    {{producto_form.precio}}
                </div>
                <div class="form-group">
                    {{producto_form.imagen.label}}
                     {{producto_form.imagen}}
                 </div> 
                <div class="form-group">
                     <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                </div>
            </form>
        </div>



    </div>



</div>


{% include "core/Includes/footer.html" %}
{% endblock %}