{% extends "core/Includes/base.html" %}
{% block body %}
{% load static %}

<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
<table class="table table-dark table-striped">
<thead>
    <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Sexo</td>
        <td>Edad</td> 
        <td>Correo</td> 
        <td>Direccion</td> 
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    
    {% if usu %}
    {% for Usuario in usu %}
    <tr>
        <td>{{ Usuario.id }}</td>
        <td>{{ Usuario.nombre }}</td>
        <td>{{ Usuario.sexo }}</td>
        <td>{{ Usuario.edad }}</td>
        <td>{{ Usuario.correo }}</td>
        <td>{{ Usuario.direccion }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'Edit' Usuario.id %}">
                Editar
            </a>
            <a class="btn btn-danger" href="{% url 'Delete' Usuario.id %}">
                Eliminar
            </a>
        </td>
        
    </tr>
   
    {% endfor %}
    {% else %}
    <h1>No hay usuarios</h1>
    {% endif %}
</tbody>
</table>
</div>
   




{% include "core/Includes/footer.html" %}
{% endblock %}