<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
     
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Quienes somos
            </h6>
            <p>
              LLOLLYRAIDER es una página web de productos tecnologicos que busca
              promover la comunidad gamer y otaku aportando productos y fotos de monas chinas
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              LLOLLYRAIDER
            </h6>
            <p>
              <a href="#!" class="text-reset">Acerca de LLOLLYRAIDER</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contáctanos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sucursales</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Trabaja con nosotros</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            {% load static%}
            <h6 class="text-uppercase fw-bold mb-4">
              Nuestras redes
            </h6>
            <p>
              <img src="{% static 'core/img/insta.png'%}" width="30" height="30">
              <a href="https://www.instagram.com/rodrigoalejandru/?hl=es-la" target="_blank" class="text-reset">L L O L L Y</a>
            </p>
            <p>
              <img src="{% static 'core/img/insta.png'%}" width="30" height="30">
              <a href="https://www.instagram.com/criss_samurai_tobaal/?hl=es-la" target="_blank" class="text-reset">SapaRaider</a>
            </p>
            <p>
              <img src="{% static 'core/img/fb.png'%}" width="25" height="25">
              <a href="#!" class="text-reset">L L O L L Y</a>
            </p>
            <p>
              <img src="{% static 'core/img/fb.png'%}" width="25" height="25">
              <a href="#!" class="text-reset">SapaRaider</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Danos un aporte
            </h6>
            <p><i class="fas fa-home me-3"></i> Cuenta rut</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              19.375.946
            </p>
            <p><i class="fas fa-phone me-3"></i> </p>
            <p><i class="fas fa-print me-3"></i> </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://www.instagram.com/psic.cathe.francisca/?hl=es-la" target="_blank">LLOLLYRAIDER</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->